<div class="container w-75 mt-4 p-4 border border-white text-center" style="background: rgb(144, 166, 243); border-radius: 30px; ">
    <h1 class="text-center text-white">Transaction History</h1>
    <table style="border-radius: 30px;" class="border border-white w-75 container">
        <thead class="border border-white">
            <tr>
                <th class="border border-white">Type</th>
                <th class="border border-white">Amount</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="border border-white">Debit</td>
                <td class="border border-white">1000</td>
            </tr>
            <tr>
                <td class="border border-white">Debit</td>
                <td class="border border-white">1000</td>
            </tr>
        </tbody>
    </table>
</div>