<div class="container text-center w-50 mt-5 p-5">
    <h1 class="">Registration Portal</h1>
        <input type="text" name="uname" [(ngModel)]="uname"  class="form-control mt-3" placeholder="Username" id="uid">
        <input type="text" name="acno" [(ngModel)]="acno"  class="form-control mt-3" placeholder="Account Number" id="acid">
        <input type="text" name="psw"[(ngModel)]="psw"   class="form-control mt-3" placeholder="Password" id="pid">
        <button  type="submit" (click)="register()"  class="btn btn-success mt-3">Sign up</button>
    </div>
